.dashboard__headingBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .dashboard__btnGroupBtn {
        border: 1px solid #e3e3e3;
    }
    .dasboard__selectedViewBtn {
        background-color: #e3e3e3;
    }
}
